/target/
*.war
target/*.war
/docs/
src/main/resources/application.properties

# Application properties
**/application.properties
target/classes/application.properties
src/main/resources/application.properties
