.copyright-font-color {	
	color: #716aca;
	text-decoration : none;
	position: relative;
	display: inline-block;
}

.jae-background-color {
	background-color: #2d398e;
}

.jae-border-info {
	border: 2px solid #17a2b8 !important; 
	border-radius: 10px !important;
}

.jae-border-primary {
	border: 2px solid #007bff !important; 
	border-radius: 10px !important;
}

.jae-border-warning {
	border: 2px solid #ffc107 !important; 
	border-radius: 10px !important;
}

.jae-border-danger {
	border: 2px solid #DC3545 !important; 
	border-radius: 10px !important;
}

.menu-style {
	padding-top: 10px; 
	padding-left: 10px;
	display: inline-block;
}

.nav-link {
	display: block !important;
	padding: 0.5rem 1.5em !important;
}

.navbar_logo {
    font-size: 25px;
	padding-left: 50px;
    color: white;
}

.navbar_icon{
	color: white;
	font-size: 25px;
	list-style: none;
	display: flex;
	padding-right: 10px;
}

.menu-nav{
    color: white !important;
    font-size: 1.3em !important;
    text-decoration:none;
}

.menu-inactive{
    color: grey !important;
    font-size: 1.3em !important;
    text-decoration:none;
}
    
.menu-a:hover{
	color: white !important;
	text-decoration:none;
}    
      
.menu-tooltip{
	pointer-events: none;
}

.menu-tooltip-inner {
   background-color: #007bff !important;
  	max-width: 800px;
}

.menu-tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #007bff !important;
}

.menu-tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #007bff !important;
}

.menu-tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #007bff !important;
}

.menu-tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #007bff !important;
}

.menu-active {
	color: #007bff !important;
}

.label-form {
	font-size: 13px; 
	margin-bottom: 0.1rem;
	color : #000000;
}

.label-form-add {
	font-size: 13px; 
	margin-bottom: 0.1rem;
	color : #0000FF;
}

.label-form-white {
	font-size: 13px; 
	margin-bottom: 0.1rem;
	color : #FFFFFF;
}

.admin-form-row {
	margin-bottom: 0.5rem;
}

.hidden-column{
    display: none !important;
}

.deactived-user{
	color: red !important;
}

.alert-dialog-display{
	display: flex !important; 
	align-items: center !important;
}

td a i.fa-trash {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.fieldset {
	position: relative;
	border: 2px solid #ddd;
	padding: 10px;
}

.fieldset header {
	position: absolute;
	top: -5;
	font-size: 1.7rem;
	line-height: 1;
	margin: -10px 0 0; /* half of font-size */
	background: #fff;
	padding: 0 10px;
} 

.smaller-table-font {
	font-size: smaller;
}

.jae-header{
	padding : 0;
	background-color: #2d398e;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
}

.navbar a {
	text-decoration: none;
	color: white;
}

.navbar_menu{
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0px;
}

.navbar_menu li {
	padding: 8px 12px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.navbar_menu li:hover{
	background-color: '#e9ecef';
	border-radius: 4px;
}

.custom-icon {
	font-size: 1.5rem;
	color: white;
}

.navbar_icon li {
	padding: 8px 12px;
}

.navbar_logo a {
	text-decoration: none;
}

.navbar_icon {
	padding-bottom: 8px;
}

.nav-item.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
    background-color: #bee0ec; /* Background color of the submenu */
    border: 1px solid #1a6985; /* Border around the submenu */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); /* Shadow for a subtle elevation effect */
    padding: 8px 0; /* Padding inside the submenu */
}

.dropdown-menu > .dropdown-submenu {
    position: relative;
}

.dropdown-menu > .dropdown-submenu > .dropdown-menu {
    display: none !important;
    position: absolute;
    left: 100%;
    top: 0;
	transition: visibility 0.5s ease-in-out, opacity 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
    display: block !important;
	visibility: visible;
    opacity: 1;
}

/* Styling for individual dropdown items */
.dropdown-item {
    padding: 8px 20px;
    color: #333; /* Text color */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Smooth transition for background color change */
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    background-color: #f8f9fa; /* Background color on hover */
}

.dropdown-menu .dropdown-item {
    color: #2d398e; /* Font color of submenu items */
	font-weight: bold;
}

@media screen and (max-width: 768px){
	.navbar{
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 12px;
	}
	.navbar_menu{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.navbar_icon{
		justify-content: center;
		width: 100%;
	}
}
